#nyj{
   
   background-color: darkkhaki;
  
}
#bornacrime{
   font-size: xx-large;
  text-align: center;
   
}

#image{
   height: 500px;
   margin-left: 40%;

}

@media screen and (max-width:650px){
   #nyj{
      
      background-color: darkkhaki;
      height: 1700px;
   }
   #bornacrime{
      font-size: small;
   }
   #image{
      height: 100px;
      width: 100px;
   
   }

}