#input-box{
    flex: 1;
    border: none;
    background-color: transparent;
}
ul li{
    list-style-type: none;
    font-size: 20px;
    padding: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
 content: "";
 position: absolute;
 width: 20px;
 height: 10vh;
 border-radius: 50%;
 background-image: url(images/radio-button-off-unchecked-round-circle-512.webp);
 background-size: cover;
 background-position: center;
 top: 10px;
 left: 7px;
}
ul li.checked{
    color: #000;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(/images/checked.png);
}
ul li span{
    position: absolute;
    right: 0;
}

   .container{
   width: 100%;
   min-height: 100vh;
   padding: 10px;
   justify-content: center;
   background-color:darkkhaki;
   }
   .row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #EDEEF0;
   border-radius: 30px;
   padding-left: 20px;
   margin-left: 20px;
   margin-bottom: 25px;
   }
   .todo_list{
       width: 50px;
       max-width: 540px;
       background: #fff;
       border-radius: 10px;
       justify-content: center;
       margin-left: 40%;
       border:solid 1px;
   }
   .todo_list h2{
   color: #002765;
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   }
   input{
       flex: 1;
       border: none;
       outline: none;
       background:transparent;
       padding: 10px;
       font-weight: 14px;
       width: 100px;
   }
   button{
   border: none;
   outline: none;
   padding: 16px 50px;
   background-color: blue;
   color: #fff;
   font-size: 16px;
   cursor: pointer;
   border-radius: 40px;
   }
   ul li{
   list-style: none;
   font-size: none;
   padding: 12px 8px 12px 50px;
   user-select: none;
   cursor: pointer;
   position: relative;
   }
   ul li::before{
   content: '';
   position: absolute;
   height: 28px;
   width: 28px;
   border-radius: 50%;
   background-image: url(Images/unchecked.png);
   background-size: cover;
   background-position: center;
   top: 12px;
   left: 8px;
   }
   ul li.checked{
   color:#555;
   text-decoration: line-through;
   }
   ul li.checked::before{
   background-image: url(Images/checked.jpeg);
   }
   ul li span{
   position: absolute;
   right: 0;
   top: 5px;
   width: 40px;
   height: 40px;
   font-size: 22px;
   color: #555;
   line-height: 40px;
   text-align: center;
   border-radius: 50%;
   }
   ul li span:hover{
       background: #EDEEF0;
   }
   .todo-list{
    width: 150%;
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 10px;
    border-radius: 10px;
   }
   #input-box{
       flex: 1;
       border: none;
       background-color: transparent;
   }
   ul li{
       list-style-type: none;
       font-size: 20px;
       padding: 20px;
       user-select: none;
       cursor: pointer;
       position: relative;
   }
   ul li::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 10vh;
    border-radius: 50%;
    background-image: url(images/radio-button-off-unchecked-round-circle-512.webp);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 7px;
   }
   ul li.checked{
       color: #000;
       text-decoration: line-through;
   }
   ul li.checked::before{
       background-image: url(/images/checked.png);
   }
   ul li span{
       position: absolute;
       right: 0;
   }
   
    #navbar{
        background-color: rgb(148, 124, 116);
        display: flex;
        
    }
    #logo{
        height:30%;
         width:30%;
         margin-top: 10%;
    }
    #centre{
        display: flex;
        gap:40%;
        margin-top: 2%;
        font-size: larger;
        margin-left: 20%;
        justify-content: space-evenly;
    }
    a{
        text-decoration: none;
        color: black;
    }
  
    @media screen and (max-width:650px){
        #input-box{
            flex: 1;
            border: none;
            background-color: transparent;
        }
        ul li{
            list-style-type: none;
            font-size: 20px;
            padding: 20px;
            user-select: none;
            cursor: pointer;
            position: relative;
        }
        ul li::before{
         content: "";
         position: absolute;
         width: 20px;
         height: 10vh;
         border-radius: 50%;
         background-image: url(images/radio-button-off-unchecked-round-circle-512.webp);
         background-size: cover;
         background-position: center;
         top: 10px;
         left: 7px;
        }
        ul li.checked{
            color: #000;
            text-decoration: line-through;
        }
        ul li.checked::before{
            background-image: url(/images/checked.png);
        }
        ul li span{
            position: absolute;
            right: 0;
        }
        
           .container{
           width: 324px;
           min-height: 100vh;
           padding: 10px;
           justify-content: center;
           background-color:darkkhaki;
           }
           .row{
           display: flex;
           align-items: center;
           justify-content: space-between;
           background: #EDEEF0;
           border-radius: 30px;
           padding-left: 20px;
           margin-left: 20px;
           margin-bottom: 25px;
           }
           .todo_list{
               width: 50px;
               max-width: 340px;
               background: #fff;
               border-radius: 10px;
               justify-content: center;
               margin-left: 40%;
               border:solid 1px;
           }
           .todo_list h2{
           flex-wrap: wrap;
           align-items: center;
           margin-bottom: 10px;
           }
           input{
               flex: 1;
               border: none;
               outline: none;
               background:transparent;
               padding: 10px;
               font-weight: 14px;
               width: 100px;
           }
           button{
           border: none;
           outline: none;
           padding: 16px 50px;
           background-color: rgb(148, 124, 116);
           color: #fff;
           font-size: 16px;
           cursor: pointer;
           border-radius: 40px;
           }
           ul li{
           list-style: none;
           font-size: none;
           padding: 12px 8px 12px 50px;
           user-select: none;
           cursor: pointer;
           position: relative;
           }
           ul li::before{
           content: '';
           position: absolute;
           height: 28px;
           width: 28px;
           border-radius: 50%;
           background-image: url(Images/unchecked.png);
           background-size: cover;
           background-position: center;
           top: 12px;
           left: 8px;
           }
           ul li.checked{
           color:#555;
           text-decoration: line-through;
           }
           ul li.checked::before{
           background-image: url(Images/checked.jpeg);
           }
           ul li span{
           position: absolute;
           right: 0;
           top: 5px;
           width: 40px;
           height: 40px;
           font-size: 22px;
           color: #555;
           line-height: 40px;
           text-align: center;
           border-radius: 50%;
           }
           ul li span:hover{
               background: #EDEEF0;
           }
           .todo-list{
            width: 150%;
            max-width: 300px;
            background-color: #fff;
            margin: 10px auto 10px;
            padding: 5px;
            border-radius: 5px;
           }
           #input-box{
               flex: 1;
               border: none;
               background-color: transparent;
           }
           ul li{
               list-style-type: none;
               font-size: 10px;
               padding: 10px;
               user-select: none;
               cursor: pointer;
               position: relative;
           }
           ul li::before{
            content: "";
            position: absolute;
            width: 10px;
            height: 10vh;
            border-radius: 10%;
            background-image: url(images/radio-button-off-unchecked-round-circle-512.webp);
            background-size: cover;
            background-position: center;
            top: 5px;
            left: 5px;
           }
           ul li.checked{
               color: #000;
               text-decoration: line-through;
           }
           ul li.checked::before{
               background-image: url(/images/checked.png);
           }
           ul li span{
               position: absolute;
               right: 0;
           }
           #navbar{
            background-color: rgb(148, 124, 116);
            flex-wrap: wrap;
            
            
        }
        #logo{
            height:20%;
             width:10%;
             
        }
        #centre{
             /* flex-wrap: wrap; */
        
            font-size: small; 
            display: grid;
            gap: 0px
        
            
           
            
        }
        
            a{
                text-decoration: none;
                color: black;
            }

    }
   



